*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.flex-container{
  display: flex;
}

.Navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar{
  background-color: #fff;
  border-radius: 63px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  cursor: pointer;
}

.box-item{
  display: flex;
  align-items: center;
  padding: 20px;
}

.panel-avatar{
  background-color: #fac451;
  color: #fff;
  margin-right: 5px;
}

.logout{
  display: none;
  background: #c4c4c4;
  position: absolute;
  top: 77px;
  right: 0;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 1000;
}

.active{
  display: block;
}

.panels{
  border-right: 1px solid #000;
  width: 300px;
  height: calc(100vh - 78px);

}

.online-name{
  span{
    color: green;
  }
}


.footer{
  border: none;
  outline: none;
  padding: 10px;
  border-top: 1px solid #000;
  width: calc(100% - 300px);
  height: 100px;
  position: absolute;
  bottom: 0;
  right: 0; 
    textarea{
      border: none;
      outline: none;
      width: 100%;
    }
    button{
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
}

.main__container{
  position: relative;
  display: flex;
}

.chats-window{
  overflow: scroll;
  width: calc(100% - 300px);
  height: calc(100vh - 176px);
  position: relative;
}

.masenge_iam{
  padding: 20px;

  background: rgba(51, 153, 255, 0.377);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}

.masenge{ 
    padding: 20px;

    background: #ee395a3d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
  
}

.header__masenge{
  display: flex;
  align-items: center;
  margin: 5px;

}

.text{
  margin-left: 20px;
  display: block;
  color: #fff;
}